.category {
    text-align: center;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;
    padding: 0 0 30px;
    color: #333;
    background-color: #fff;
}

.category__section {
    width: 20%;
    padding: 13px 0 0;
    float: left;
    font-size: 13px;
    text-align: center;
}

.category__icon {
    width: 44px;
    height: 44px;
    margin: 0 auto 2px;
}

.category__text {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li.slick-active button:before {
    color: #f5734b;
}
