.keywordBox {
    background-color: #f0f0f0;
    padding: 2px 10px 7px;
}

.keywordBox__text {
    width: 100%;
    height: 34px;
    display: block;
    color: #646464;
    line-height: 34px;
    padding-left: 35px;
    box-sizing: border-box;
    border-radius: 25px;
    position: relative;
    background-color: #fff;
}

.keywordBox__text::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid #888;
    border-radius: 11px;
    position: absolute;
    left: 14px;
    bottom: 14px;
}

.keywordBox__text::after {
    content: '';
    display: block;
    border-top: 1px solid #888;
    border-radius: 9px;
    position: absolute;
    left: 21px;
    bottom: 13px;
    width: 6px;
    height: 0;
    transform: rotate(45deg);
}
