.confirm {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 300;
    position: fixed;
}

.confirm__alert {
    width: 280px;
    background: #fff;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    border: 1px solid #efefef;
    margin: -50px 0 0 -140px;
    z-index: 10000002;
    position: fixed;
    text-align: center;
}

.confirm__content {
    padding: 20px;
    border-bottom: solid 1px #efefef;
}

.confirm__btns {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}

.confirm__btn {
    color: #08c;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
