.likeItem {
    display: block;
    padding: 11px 10px 11px 15px;
}

.likeItem__picContainer {
    padding-right: 10px;
    display: inline-block;
}

.likeItem__pic {
    width: 90px;
    height: 90px;
}

.likeItem__picTag {
    font-size: 12px;
    transform: scale(0.98);
    padding: 3px 7px;
    background-color: #000;
    color: #e5bf86;
    position: absolute;
    font-weight: 700;
}

.likeItem__content {
    display: inline-block;
    width: calc(100% - 100px);
}

.likeItem__shop {
    max-width: 237px;
    font-size: 17px;
    font-weight: 700;
    color: #111;
    padding-right: 8px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.likeItem__product {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #777;
    padding-top: 9px;
    padding-bottom: 13px;
}

.likeItem__detail {
    display: flex;
    justify-content: space-between;
    height: 22px;
    line-height: 22px;
    padding-right: 4px;
}

.likeItem__price {
    max-width: 145px;
}

.likeItem__currentPrice {
    color: #f63;
    font-size: 21px;
    text-decoration: none;
    font-weight: 700;
}

.likeItem__currentPrice::before {
    content: '\A5';
    font-size: 14px;
    margin-right: 2px;
    vertical-align: 1px;
}

.likeItem__oldPrice {
    font-size: 13px;
    color: #777;
    text-decoration: line-through;
    vertical-align: 1px;
    margin-left: 10px;
}

.likeItem__oldPrice::before {
    content: '\A5';
    margin-right: 1px;
}

.likeItem__sale {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    font-size: 13px;
    color: #777;
    line-height: 24px;
}
