.footer {
    text-align: center;
    padding: 15px 5px 10px;
    font-weight: 400;
    font-size: 12px;
    background-color: #f0f0f0;
}

.footer__link {
    color: #adadad;
    line-height: 28px;
    text-decoration: none;
}

.footer__seperator {
    padding: 0 6px;
    color: #8c8c8c;
    font-style: normal;
    font-weight: 400;
}

.footer__copyright {
    color: #d1d1d1;
    margin-top: 20px;
    text-shadow: 0 1px 1px #fff;
}
