/* eslint-disable */
.shopInfo {
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  background-color: #fff;
  position: relative;
}

.shopInfo__header {
  background: url("https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-x.png")
    repeat-x 0 bottom;
  background-size: auto 10px;
  height: 40px;
  line-height: 42px;
  margin-left: 15px;
  color: #999;
  font-weight: 400;
  font-size: 14px;
  display: block;
  position: relative;
}

.shopInfo__arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  transform: rotate(-45deg);
}

.shopInfo__middle {
  padding-left: 15px;
  display: flex;
  background: url("https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-x.png")
    repeat-x 0 bottom;
  background-size: auto 10px;
}

.shopInfo__middleLeft {
  background: url("https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-right.png")
    repeat-y right;
  background-size: 1px auto;
  -webkit-box-flex: 1;
  flex: 1;
  margin: 15px 0;
}

.shopInfo__shopName {
  color: #878787;
  font-weight: 700;
  font-size: 18px;
}

.shopInfo__starsWrapper {
  font-size: 14px;
  margin-top: 15px;
  line-height: 14px;
}

.shopInfo__stars {
  width: 86px;
  height: 16px;
  background: url("http://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/detail-star0.png")
    no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1px;
  color: #666;
  font-size: 12px;
  line-height: 12px;
}

.shopInfo__stars--red {
  background: url("https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/detail-star.png")
    no-repeat;
  display: inline-block;
  height: 16px;
  overflow: hidden;
  background-size: auto 100%;
}

.shopInfo__distance {
  margin-right: 10px;
  float: right;
  margin-top: 2px;
  color: #666;
  font-size: 12px;
  line-height: 12px;
}

.shopInfo__middleRight {
  margin: 15px 0;
  padding: 0 22px;
  display: -webkit-box;
  -webkit-box-align: center;
}

.shopInfo__phoneIcon {
    width: 25px;
    height: 25px;
    margin-left: 0;
    background: url("https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/mobile.png") no-repeat;
    background-size: 25px auto;
    background-position: center 0;
    display: block;
}

.shopInfo__bottom {
  padding: 14px 0 14px 15px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
  position: relative;
  display: flex;
}

.shopInfo__locationIcon {
  background: url("https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/icon-comm.png")
    center 0 no-repeat;
  background-position: 0 -58px;
  margin-right: 3px;
  background-size: 14px auto;
  display: inline-block;
  width: 14px;
  position: relative;
  top: 2px;
  height: 14px;
}
