.productOverview {
    background-color: #fff;
}

.productOverview__header {
    position: relative;
    width: 100%;
}

.productOverview__imgContainer {
    min-height: 100px;
}

.productOverview__img {
    width: 100%;
    min-height: 100px;
    display: block;
}

.productOverview__baseInfo {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    background: -webkit-gradient(
        linear,
        0 0,
        0 100%,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 0.6))
    );
}

.productOverview__title {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 3px;
}

.productOverview__content {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 14px;
}

.productOverview__purchase {
    padding-left: 15px;
    display: -webkit-box;
    margin-top: 0;
    height: 50px;
    -webkit-box-pack: justify;
    background: url('https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-x.png')
        repeat-x 0 bottom;
    background-size: auto 10px;
    line-height: 50px;
}

.productOverview__symbol {
    padding-right: 0;
    display: inline-block;
    font-size: 21px;
    color: #f63;
}

.productOverview__price {
    font-size: 30px;
    margin-right: 3px;
    padding-right: 0;
    display: inline-block;
    color: #f63;
}

.productOverview__price--old {
    color: #8c8c8c;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 12px;
    text-decoration: line-through;
}

.productOverview__btn {
    height: 34px;
    width: 105px;
    color: #fff;
    background-color: #f63;
    border-radius: 5px;
    text-align: center;
    line-height: 35px;
    display: block;
    font-size: 16px;
    margin: 8px;
}

.productOverview__remark {
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    color: #666;
    list-style: none;
    padding-left: 15px;
    margin: 0;
}

.productOverview__remarkItem {
    float: left;
    width: 50%;
}

.productOverview__sign1 {
    background-image: url('https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/comm.png');
    background-size: 25px auto;
    background-position: 0 -275px;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: sub;
    margin-right: 5px;
}

.productOverview__sign2 {
    background-image: url('https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/comm.png');
    background-size: 25px auto;
    background-position: 0 -296px;
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: sub;
    margin-right: 5px;
}

.productOverview__desc {
    font-size: 12px;
}
