body {
    margin: 0;
    padding: 0;
    font-family: Hiragino Sans GB, Arial, Helvetica, '宋体', sans-serif;
    background: #f0f0f0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}
