.detail {
    padding: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

.detail__header {
    background: url('https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-x.png')
        repeat-x 0 bottom;
    background-size: auto 10px;
    height: 40px;
    line-height: 42px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 13px;
}

.detail__headerIcon {
    background: url('https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/icon-comm.png')
        center 0 no-repeat;
    background-size: 14px auto;
    display: inline-block;
    width: 14px;
    position: relative;
    top: 2px;
    height: 14px;
    background-position: 0 -38px;
    margin-left: 4px;
}

.detail__table {
    width: calc(100% - 13px);
    margin-top: 12px;
    margin-bottom: 15px;
    margin-left: 13px;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 22px;
}

.detail__table:first-child {
    text-align: left;
    width: 70%;
}

.detail__row {
    background: url('https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-x.png')
        repeat-x 0 bottom;
    background-size: auto 10px;
}

.detail__category {
    color: #999;
    font-weight: 400;
    padding: 10px 0;
}

.detail__td--alignRight {
    text-align: right;
    padding: 10px 0;
    white-space: nowrap;
    padding-right: 5px;
}

.detail__td--price {
    color: #999;
    text-decoration: line-through;
    text-align: right;
    padding: 10px 5px 10px 0;
}

.detail__td--priceNew {
    margin-top: 5px;
    color: #f63;
    display: inline-block;
}

.detail__remark {
    margin-top: 12px;
    margin-left: 13px;
    padding-bottom: 10px;
    background: url('https://www.dpfile.com/mod/app-m-tuangou/1.3.79/css/img/repeat-x.png')
        repeat-x 0 bottom;
    background-size: auto 10px;
}

.detail__more {
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #333;
    padding: 0 10px 0 15px;
}

.detail__notice {
    color: #999;
    padding-left: 5px;
    font-size: 10px;
    line-height: 12px;
}

.detail__arrow {
    float: right;
    margin-top: 17px;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    transform: rotate(-45deg);
}
